.Menu {
    background-color: #fff8f0;
    height: 100%;
    padding: 10px;
    position: relative;
}

h3 {
    font-size: 40px;
}

.Menu-container {
    display: flex;
    justify-content: center;
}

.MenuCard-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    grid-gap: 30px;
    margin: 0px 40px 40px 40px;
}
