.Menu {
    inset: 0;
}

h4 {
    font-size: 100px;
    font-family: "Inria Serif", serif;
    font-weight: 600;
    font-style: normal;
    margin: 0px;
    line-height: 0;
    color: #410b13;
    transform: translate(0px, -10px);
}

.Menu-container {
    display: flex;
    justify-content: center;
}

.MenuCard-container {
    box-shadow: 0 0 40px 0.2px rgba(104, 60, 17, 0.1);
    background-color: #fffdfa;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr;
    grid-gap: 25px;
    border-radius: 65px;
    padding: 90px;
    padding-bottom: 20px;
}

.DownloadMenuButton {
    font-size: 25px;
    font-family: "Inria Serif", serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.5px;
    color: #410b13;
    margin-top: 0;
    padding-bottom: 20px;
}

.DownloadMenuButtonMobile {
    display: none;
}

@media (max-width: 1100px) {
    h4 {
        font-size: 60px; /* Reduce font size for mobile */
        transform: translate(0px, -5px); /* Reset the transformation */
    }

    .MenuCard-container {
        grid-template-columns: 0.5fr 0.5fr; /* Stack items on mobile screens */
        padding: 50px 20px; /* Reduce padding */
        grid-gap: 8px;
        border-radius: 35px;
    }

    .DownloadMenuButton {
        display: none;
    }

    .DownloadMenuButtonMobile {
        display: block;
        margin: auto;
        transform: translate(0, -70px);
        font-size: 20px;
        font-family: "Inria Serif", serif;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0.5px;
        color: #410b13;
        margin-top: 0;
        padding-bottom: 20px;
    }
}
