.Location {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Location>* {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    box-sizing: border-box;
    padding-top: 10%;
}

.TextBlock.spread {
    height: 60%;
    width: 100%;
    justify-content: top;
    padding-top: 0;
}

.CafeImg {
    display: flex;
    height: 170%;
    transform: translate(0%, -20%);
    width: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    .Location {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .Location>* {
        padding-top: 5%;
        align-items: center;
        justify-content: center;
    }

}