.DrinkCardButton {
    background-color: #e4ceb4;
    width: 180px;
    height: 40px;
    color: #fff;
    border-radius: 25px;
    bottom: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

p {
    letter-spacing: 2px;
}
