.Main {
    background-color: #f4e7d8;
    height: 100%;
    width: 100%;
    inset: 0;
    overflow: hidden;
}

.FooterMain {
    z-index: 1;
}

.MenuMain {
    transform: translate(0, 130px);
    z-index: 2;
}
