.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Topper {
    width: 70%;
    height: 180px;
    background-color: #fff8f0;
    display: flex;
    justify-content: space-between; /* Align items to the left and right */
    align-items: flex-end;
    padding: 10px;
    padding-top: 100px;
    border-radius: 0 0 65px 65px;
}

.Logo {
    width: 300px;
    display: flex; /* Make the Logo container a flex container */
    align-items: flex-end; /* Align Logo at the bottom */
    margin-right: 20px; /* Add some space between Logo and topText */
    margin-left: 70px;
    margin-bottom: 20px;
}

.topText {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0; /* Remove any margin that might be affecting the alignment */
    margin-right: 50px;
}

h1,
h2,
h3 {
    margin: 0;
    font-family: "Inria Serif", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    cursor: pointer;
    color: #410b13;
    align-items: center;
    margin-left: 20px;
    margin-right: 10px;
    padding: 16px;
}

.Bean {
    width: 100%;
    height: 250px;
    margin: 40px;
    margin-top: 70px;
}

/* Desktop specific styles */
@media (min-width: 1400px) {
    .LogoMobile,
    .BeanMobile {
        display: none; /* Hide mobile specific images on desktop */
    }
}

/* Mobile specific styles */
@media (max-width: 1400px) {
    .Logo,
    .Bean {
        display: none; /* Hide desktop specific images on mobile */
    }

    .Topper {
        width: 96%; /* Adjust width for mobile layout */
        height: auto;
        padding-top: 0px; /* Adjust padding for mobile layout */
        border-radius: 0 0 35px 35px;
        /* Add any other necessary style adjustments for mobile */
    }

    .LogoMobile {
        /* Define styles specific to mobile version of the logo */
        width: 200px;
        padding: 5px;
        display: flex;
        margin: auto;

        /* ... */
    }

    .BeanMobile {
        /* Define styles specific to mobile version of the bean image */
        width: 80%;
        margin: 20px 0;
        /* ... */
    }

    .topText {
        display: none; /* Hide topText on mobile */
    }
}
