.Footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.Footer p {
    margin-right: 20px;
    font-size: 18px;
    color: #333;
}

.ScrollElement {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: left 0.3s ease-out;
}

.circle {
    width: 65px;
    height: 65px;
    border: 2px solid #333;
    border-radius: 50%;
}

.line-arrow {
    display: flex;
    align-items: center;
}

.line {
    width: 73px;
    height: 2px;
    background-color: #333;
    margin-left: -17px;
}

.arrow-tip {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #333;
    margin-left: -5px;
}

.ScrollElement::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #333;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}