.DrinkCard {
    background-color: #fff8f0;
    min-width: 200px;
    height: 260px;
    border-radius: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 15px;
    box-shadow: 4px 4px 8px 2px rgba(104, 60, 17, 0.5);
}
