.DrinkCard {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 100%;
    height: 100%;
    font-family: 'Georgia', serif;
    margin-right: 15%;
}

.DrinkCardImageBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 40%;
}

.DrinkCard img {
    width: auto;
    max-height: 150px;
    object-fit: cover;
}

.DrinkCard__text {
    width: 100%;
}

.DrinkCard__title {
    margin: 10px 0;
    color: #333;
}

.DrinkCard__description {
    margin: 10px 0;
    color: #333;
}

.DrinkCard__ingredients {
    font-size: 0.9em;
    color: #333;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .DrinkCard {
        margin: 15px 25px;
        box-shadow: none;
    }

    .DrinkCard img {
        max-width: 120px;
        max-height: 120px;
        margin-right: 10px;
    }

    .DrinkCard__title {
        font-size: 1.7em;
        text-align: start;
    }

    .DrinkCard__description {
        font-size: 0.9em;
        text-align: start;
    }

    .DrinkCard__ingredients {
        font-size: 0.85em;
        text-align: end;
    }
}