.DrinkSlider {
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 30px;
}

.CarouselContainer {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: center;
}

.CarouselButton {
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.CarouselButton:hover {
    opacity: 50%;
}

.DrinkCardContainer {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
}

.CarouselCard {
    margin: 0 10px;
    max-width: 100%;
    transition: transform 0.3s ease;
}

/* Mobile styles */
@media (max-width: 1000px) {
    .DrinkSlider {
        height: auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .CarouselButton {
        width: 50px; /* Reduce the button size */
        height: 50px;
    }

    .CarouselCard {
        margin: 0 5px; /* Reduce margins */
    }
    .DrinkCardContainer {
        display: flex;
        align-items: center;
        transition: transform 0.3s ease;
    }
}
